<!--
File name: landing.php
Author's name: Daria Davydenko
Student ID: 200335788
Website name: Todos
https://comp1006-assignment2.herokuapp.com/

This is an html file with the landing page.
From here user can login to the main table. Here there is a Welcome message too.
-->
<section class="poster jumbotron">
    <div class="container">
        <h1 class="col-lg-12">With this app you will never forget anything you are planning for a day!</h1></div>
</section>
<article class="intro">
    <h2>Hello world!</h2>
    <p>This is my Todos. You need just to Log in and after you will be able to use the most comfortable tool for
        time management in the world! You will discover that the interface is easy to understand.</p>
    <p>You will love it!</p>
</article>