<!--
File name: landing.php
Author's name: Daria Davydenko
Student ID: 200335788
Website name: CMS
https://comp1006-assignment2.herokuapp.com/

This is an html file with the landing page.
From here user can login to the CMS. Here there is a Welcome message too.
-->
<section class="poster jumbotron">
    <div class="container">
        <h1 class="col-lg-12">With this app you can create a site that is fit the most for you!</h1></div>
</section>
<article class="intro">
    <h2>Hello world!</h2>
    <p>Using this site you can create anything you want. You will have all the control. Anything you want!</p>
    <p>You will love it!</p>
</article>